# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
src/main/resources/templates/mainjs.html
.classpath
.project
.settings/.jsdtscope
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.validation.prefs
.settings/org.springframework.ide.eclipse.prefs
target/classes/application.yml
target/classes/static/css/index.css
target/classes/static/favicon.ico
target/classes/static/js/canva_moving_effect.js
target/classes/static/js/crypto-js.js
target/classes/static/js/iconfont.js
target/classes/static/js/jquery-3.4.1.min.js
target/classes/static/js/utils.js
target/classes/static/js/zxcvbn.js
target/classes/static/layui/css/layui.css
target/classes/static/layui/css/layui.mobile.css
target/classes/static/layui/css/modules/code.css
target/classes/static/layui/css/modules/laydate/default/laydate.css
target/classes/static/layui/css/modules/layer/default/icon-ext.png
target/classes/static/layui/css/modules/layer/default/icon.png
target/classes/static/layui/css/modules/layer/default/layer.css
target/classes/static/layui/css/modules/layer/default/loading-0.gif
target/classes/static/layui/css/modules/layer/default/loading-1.gif
target/classes/static/layui/css/modules/layer/default/loading-2.gif
target/classes/static/layui/font/iconfont.eot
target/classes/static/layui/font/iconfont.svg
target/classes/static/layui/font/iconfont.ttf
target/classes/static/layui/font/iconfont.woff
target/classes/static/layui/font/iconfont.woff2
target/classes/static/layui/images/face/0.gif
target/classes/static/layui/images/face/1.gif
target/classes/static/layui/images/face/10.gif
target/classes/static/layui/images/face/11.gif
target/classes/static/layui/images/face/12.gif
target/classes/static/layui/images/face/13.gif
target/classes/static/layui/images/face/14.gif
target/classes/static/layui/images/face/15.gif
target/classes/static/layui/images/face/16.gif
target/classes/static/layui/images/face/17.gif
target/classes/static/layui/images/face/18.gif
target/classes/static/layui/images/face/19.gif
target/classes/static/layui/images/face/2.gif
target/classes/static/layui/images/face/20.gif
target/classes/static/layui/images/face/21.gif
target/classes/static/layui/images/face/22.gif
target/classes/static/layui/images/face/23.gif
target/classes/static/layui/images/face/24.gif
target/classes/static/layui/images/face/25.gif
target/classes/static/layui/images/face/26.gif
target/classes/static/layui/images/face/27.gif
target/classes/static/layui/images/face/28.gif
target/classes/static/layui/images/face/29.gif
target/classes/static/layui/images/face/3.gif
target/classes/static/layui/images/face/30.gif
target/classes/static/layui/images/face/31.gif
target/classes/static/layui/images/face/32.gif
target/classes/static/layui/images/face/33.gif
target/classes/static/layui/images/face/34.gif
target/classes/static/layui/images/face/35.gif
target/classes/static/layui/images/face/36.gif
target/classes/static/layui/images/face/37.gif
target/classes/static/layui/images/face/38.gif
target/classes/static/layui/images/face/39.gif
target/classes/static/layui/images/face/4.gif
target/classes/static/layui/images/face/40.gif
target/classes/static/layui/images/face/41.gif
target/classes/static/layui/images/face/42.gif
target/classes/static/layui/images/face/43.gif
target/classes/static/layui/images/face/44.gif
target/classes/static/layui/images/face/45.gif
target/classes/static/layui/images/face/46.gif
target/classes/static/layui/images/face/47.gif
target/classes/static/layui/images/face/48.gif
target/classes/static/layui/images/face/49.gif
target/classes/static/layui/images/face/5.gif
target/classes/static/layui/images/face/50.gif
target/classes/static/layui/images/face/51.gif
target/classes/static/layui/images/face/52.gif
target/classes/static/layui/images/face/53.gif
target/classes/static/layui/images/face/54.gif
target/classes/static/layui/images/face/55.gif
target/classes/static/layui/images/face/56.gif
target/classes/static/layui/images/face/57.gif
target/classes/static/layui/images/face/58.gif
target/classes/static/layui/images/face/59.gif
target/classes/static/layui/images/face/6.gif
target/classes/static/layui/images/face/60.gif
target/classes/static/layui/images/face/61.gif
target/classes/static/layui/images/face/62.gif
target/classes/static/layui/images/face/63.gif
target/classes/static/layui/images/face/64.gif
target/classes/static/layui/images/face/65.gif
target/classes/static/layui/images/face/66.gif
target/classes/static/layui/images/face/67.gif
target/classes/static/layui/images/face/68.gif
target/classes/static/layui/images/face/69.gif
target/classes/static/layui/images/face/7.gif
target/classes/static/layui/images/face/70.gif
target/classes/static/layui/images/face/71.gif
target/classes/static/layui/images/face/8.gif
target/classes/static/layui/images/face/9.gif
target/classes/static/layui/lay/modules/carousel.js
target/classes/static/layui/lay/modules/code.js
target/classes/static/layui/lay/modules/colorpicker.js
target/classes/static/layui/lay/modules/element.js
target/classes/static/layui/lay/modules/flow.js
target/classes/static/layui/lay/modules/form.js
target/classes/static/layui/lay/modules/jquery.js
target/classes/static/layui/lay/modules/laydate.js
target/classes/static/layui/lay/modules/layedit.js
target/classes/static/layui/lay/modules/layer.js
target/classes/static/layui/lay/modules/laypage.js
target/classes/static/layui/lay/modules/laytpl.js
target/classes/static/layui/lay/modules/mobile.js
target/classes/static/layui/lay/modules/rate.js
target/classes/static/layui/lay/modules/slider.js
target/classes/static/layui/lay/modules/table.js
target/classes/static/layui/lay/modules/transfer.js
target/classes/static/layui/lay/modules/tree.js
target/classes/static/layui/lay/modules/upload.js
target/classes/static/layui/lay/modules/util.js
target/classes/static/layui/layui.all.js
target/classes/static/layui/layui.js
target/classes/templates/forgotPassword.html
target/classes/templates/index.html
target/classes/templates/main.html
target/classes/templates/mainjs.html
target/classes/templates/reg.html
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/m2e-wtp/web-resources/META-INF/maven/com.mupei/assistant/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/com.mupei/assistant/pom.xml
target/classes/templates/backstage.html
target/classes/static/test/demo1.json
target/classes/static/images/head-portraits/admin.jpg
target/classes/templates/updateRoleForm.html
target/classes/templates/addRoleForm.html
