<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Add Role Form</title>
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css" media="all">
    <style type="text/css">
        #button{
            text-align: center;
        }
        input[name="count"]{
            width: 390px;
        }
    </style>
</head>
<body>
<!-- 表单 -->
<div class="layui-form" lay-filter="freezeRoleForm">
    <input type="hidden" name="id">
    <div class="layui-form-item">
        <label class="layui-form-label">数值</label>
        <div class="layui-input-block">
            <input type="text" name="count" autocomplete="off" placeholder="请输入数值" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">单位</label>
        <div class="layui-input-block" id="unit">
            <input type="radio" name="unit" value="s" title="秒" checked="checked">
            <input type="radio" name="unit" value="min" title="分">
            <input type="radio" name="unit" value="h" title="时">
            <input type="radio" name="unit" value="day" title="日">
            <input type="radio" name="unit" value="month" title="月">
            <input type="radio" name="unit" value="year" title="年">
        </div>
    </div>
    <div class="layui-form-item" id="button">
        <button type="button" class="layui-btn" lay-submit lay-filter="submit">确定</button>
    </div>
</div>
<script type="text/javascript" data-main="../js/backstage/freezeRoleForm" src="../js/lib/require.js" charset="utf-8"></script>
</body>
</html>