<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Add Role Form</title>
	<link rel="stylesheet" type="text/css" href="layui/css/layui.css" media="all">
	<script src="js/iconfont.js"></script>
	<style type="text/css">
		.layui-form {
			padding: 5px 5px 0 0;
		}

		.layui-form-item>.layui-input-block {
			margin-right: 10px;
			width: 500px;
		}

		/* 密码明文校验 */
		input[type="password"] {
    	padding-right: 35px;
		}
		.icon {
		    width: 25px;
		    height: 25px;
		    vertical-align: middle;
		    fill: currentColor;
		    overflow: hidden;
		    text-align: center;
		    color: #555;
		    top: 67px;
		    left: 575px;
		    position: absolute;
		    z-index: 1;
		}
		.icon :hover {
			cursor: pointer;
		}
	</style>

</head>
</body>
<!-- 表单 -->
<form class="layui-form">
	<div class="layui-form-item">
		<label class="layui-form-label">电子邮箱</label>
		<div class="layui-input-inline">
			<input type="text" name="email" autocomplete="off" placeholder="必填项，请输入电子邮箱" class="layui-input">
		</div>
		<label class="layui-form-label">昵称</label>
		<div class="layui-input-inline">
			<input type="text" name="nickname" autocomplete="off" placeholder="必填项，请输入昵称" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">密码</label>
		<div class="layui-input-block">
			<input type="password" name="password" autocomplete="off" placeholder="必填项，请输入6~16位密码" class="layui-input">
		</div>
	</div>
	<svg class="icon" aria-hidden="true">
  	<use xlink:href="#iconyanjing" id="yanjing"></use>
	</svg>
	<div class="layui-form-item">
		<label class="layui-form-label">角色类型</label>
		<div class="layui-input-block">
			<input type="radio" name="type" value="2" title="学生" checked="checked">
			<input type="radio" name="type" value="1" title="教师">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">姓名</label>
		<div class="layui-input-block">
			<input type="text" name="name" autocomplete="off" placeholder="请输入姓名" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">性别</label>
		<div class="layui-input-block">
			<input type="radio" name="sex" value="男" title="男" checked="checked">
			<input type="radio" name="sex" value="女" title="女">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">出生日期</label>
		<div class="layui-input-block">
			<input type="text" name="birthday" autocomplete="off" placeholder="请选择出生日期，格式为yyyy-MM-dd" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">电话号码</label>
		<div class="layui-input-inline">
			<input type="text" name="phoneNumber" autocomplete="off" placeholder="请输入电话号码" class="layui-input">
		</div>
		<label class="layui-form-label">QQ号码</label>
		<div class="layui-input-inline">
			<input type="text" name="qq" autocomplete="off" placeholder="请输入QQ号码" class="layui-input">
		</div>
	</div>
	<br>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button type="button" class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>
<script type="text/javascript" src="layui/layui.all.js" charset="utf-8"></script>
<script type="text/javascript" src="js/utils.js"></script>
<script src="js/crypto-js.js"></script>
<script type="text/javascript">
	layui.use(['form', 'layer'], function() {
		var form = layui.form
		,layer = layui.layer
		,$ = layui.$;

		//监听提交
		form.on('submit(add)', function(data) {
			const NICKNAME_DOM = $("input[name='nickname']")
			,EMAIL_DOM = $("input[name='email']")
			,PASSWORD_DOM = $("input[name='password']")
			,TYPE_DOM = $("input[name='type']:checked")
			,NAME_DOM = $("input[name='name']")
			,SEX_DOM = $("input[name='sex']:checked")
			,BIRTHDAY_DOM = $("input[name='birthday']")
			,PHONE_NUMBER_DOM = $("input[name='phoneNumber']")
			,QQ_DOM = $("input[name='qq']");

			let nickname = NICKNAME_DOM.val().trim()
			,email = EMAIL_DOM.val().trim()
			,password =  PASSWORD_DOM.val().trim()
			,type = TYPE_DOM.val()
			,name = NAME_DOM.val().trim()
			,sex = SEX_DOM.val()
			,birthday = BIRTHDAY_DOM.val()
			,phoneNumber = PHONE_NUMBER_DOM.val().trim()
			,qq = QQ_DOM.val().trim()

			if(isEmpty(nickname)){
				layer.msg('昵称不能为空！',{
					anim: 6, //抖动
					time: 1000 //一秒关闭
				});
				NICKNAME_DOM.focus();
				return false;
			}

			if(isEmpty(email)){
				layer.msg('电子邮箱不能为空',{
					anim: 6,
					time: 1000
				});
				EMAIL_DOM.focus();
				return false;
			}
			if(!isEmail(email)){
				layer.msg('请填写正确的电子邮箱！',{
					anim: 6,
					time: 1000
				});
				EMAIL_DOM.val("");
				EMAIL_DOM.focus();
				return false;
			}

			if(isEmpty(password)){
				layer.msg('密码不能为空',{
					anim: 6,
					time: 1000
				});
				PASSWORD_DOM.focus();
				return false;
			}
			if (!isPassword(password)) {
				layer.msg('密码必须6到12位，且不能出现空格！', {
					anim: 6, //抖动
			    	time: 1000 //1秒关闭（如果不配置，默认是3秒）
				});
				PASSWORD_DOM.val("");
				PASSWORD_DOM.focus();
				return false;
			}

			if(!isEmpty(birthday))
				if(!isFormatDate(birthday)){
					layer.msg('请填写正确的出生日期！',{
						anim: 6,
						time: 1000
					});
					BIRTHDAY_DOM.val("");
					BIRTHDAY_DOM.focus();
					return false;
				}

			if(!isEmpty(phoneNumber))
				if(!isPhoneNumber(phoneNumber)){
					layer.msg('请填写正确的手机号码！',{
						anim: 6,
						time: 1000
					});
					PHONE_NUMBER_DOM.val("");
					PHONE_NUMBER_DOM.focus();
					return false;
				}

			// layer.alert(JSON.stringify(data.field), {
			// 	title: '最终的提交信息'
			// })
			// return false; //停止回调事件，使展示反馈信息
			$.ajax({
				url: "http://127.0.0.1:8080/assistant/admin/addRole",
				data: JSON.stringify({
					nickname : nickname,
				 	email : email,
				 	password : encryptWithHashing (password, "MD5"),
				 	type : type,
				 	name : name,
				 	sex : sex,
				 	birthday : birthday,
				 	phoneNumber : phoneNumber,
				 	qq : qq,
				}),
				contentType : 'application/json', //发送信息至服务器时的内容编码类型
				dataType : 'json',//服务器返回json格式数据
				type : 'post',//HTTP请求类型
				timeout : 10000,//超时时间设置为10秒
				success : function(data){
					if (data.success) {
						layer.msg('添加成功！', {
							time: 2000 //2秒关闭（如果不配置，默认是3秒）
						}, function(){
							//弹窗结束后
							window.parent.location.reload();//修改成功后刷新父界面
						});
					} else {
						layer.msg('添加失败，该电子邮箱可能已被注册！', {
							time: 2000
						});
					}
				},
				error : function(xhr, type, errorThrown){
					console.log(xhr);
					console.log(type);
					console.log(errorThrown);
				}
			});//end ajax
		});//end 监听提交

		/* 密码明文校验功能 */
		$("#yanjing").on("mousedown", function(){
			$("input[name='password']").prop('type','text');
		});
		$("#yanjing").on("mouseup", function(){
			$("input[name='password']").prop('type','password');
		});
		/* 密码明文校验功能 end */
	});//end layui

</script>

</body>

</html>