<!DOCTYPE HTML>
<html lang="utf-8">
<head>
	<title>Assistant</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content=""/>
	<link rel="stylesheet" type="text/css" href="layui/css/layui.css"></head>
<body>
	
	<!-- context -->
	<p>修改密码</p>

	<input type="button" value="修改密码"  id="resetPassword">
	<!-- //context -->

	<!-- copyright -->
	<div class="footer">
		<p>Copyright &copy; 2019.一切解释权归作者所有.<a target="_blank" href="#">关于作者</a></p>
	</div>
	<!-- //copyright -->

	<script src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="layui/layui.all.js"></script>
	<script type="text/javascript" src="js/utils.js"></script>
	<script src="js/crypto-js.js"></script>
	
	<script type="text/javascript">
	/* ajax */
	function ajax_resetPassword() {
		//忘记密码功能不需要验证令牌，这里只是用于测试
		let token = localStorage.getItem("token");
		console.log(token);
		$.ajax('./resetPassword', {
			data: {
				
			},
			dataType: 'json',//服务器返回json格式数据
			type: 'put',//HTTP请求类型
			timeout: 10000,//超时时间设置为10秒
			header:{
		    	'Authorization': token
		   	},
		    beforeSend : function(request) {
		    	request.setRequestHeader("Authorization", token);
		    },
			success: function(data){
				if (data.success) {
					layer.msg('修改成功！', {
				    	time: 2000 //2秒关闭（如果不配置，默认是3秒）
					}, function(){
						//弹窗结束后
						//跳转登录页面
// 						window.location.href = 'index.html';
					}); 
				} else {
					layui.use('layer', function(){
						var layer = layui.layer;
						layer.msg('修改失败！');
					});
				}
			},
			error:function(xhr, type, errorThrown){
				console.log(xhr+"--xhr");
				console.log(type+"---type");
				console.log(errorThrown+"----erroThown");
			}
		}); //end ajax
	}//end ajax_login()
	/* end ajax */
	
	$("#resetPassword").on("click",function() {
		ajax_resetPassword();
	}); 
	</script>
	
</body>

</html>