<!DOCTYPE HTML>
<html lang="utf-8">
<head>
    <title>Assistant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8"/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css" media="all">
</head>
<style type="text/css">
    body {
        background: rgba(10, 10, 10, 0.02);
        padding: 0 200px;
        position: fixed;
    }

    form {
        width: 600px;
        padding: 28px 40px 5px 0;
        display: -webkit-flex;
        display: block;
    }

    .footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 44px;
        line-height: 44px;
        padding-left: 200px;
        background-color: #eee;
    }

    /* 输入框 */
    .layui-input {
        padding-right: 35px;
    }

    input[name='verifyCode'] {
        width: 106px;
        padding-right: 10px;
    }

</style>
<body>
<!-- context -->
<!-- 将表单内的相关元素分组，会在相关表单元素周围绘制边框。 -->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px; color:black;">
    <legend>忘记密码</legend>
</fieldset>

<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" name="password" autocomplete="off" placeholder="请输入6~16位的密码" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">验证码</label>
        <div class="layui-input-block">
            <input type="text" name="verifyCode" autocomplete="off" placeholder="请输入验证码" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-submit lay-filter="reg">完成</button>
        </div>
    </div>
</form>
<!-- //context -->

<!-- copyright -->
<div class="footer">
    <!-- 底部固定区域 -->
    Copyright &copy; 2019.一切解释权归作者所有.
    © assistant.com - 底部固定区域
</div>
<!-- //copyright -->
<script type="text/javascript" data-main="js/forgotPasswordNext" src="js/lib/require.js" charset="utf-8"></script>
<script type="text/javascript" src="layui/layui.all.js" charset="utf-8"></script>
<script type="text/javascript" src="../static/js/utils/utils.js"></script>
<script src="js/lib/crypto-js.js"></script>
<script type="text/javascript">
    layui.use('form', function () {
        var form = layui.form;

        //监听提交(如果监听的submit按钮，仍会同步通过form表单提交)
        form.on('submit(reg)', function (data) {
            reg();
        });
    });

    function ajax_reg(nickname, email, password, type) {
        $.ajax('./forgotPassword', {
            data: {
                email: email,
                password: encryptWithHashing(password, "MD5"),
            },
            dataType: 'json',//服务器返回json格式数据
            type: 'post',//HTTP请求类型
            timeout: 10000,//超时时间设置为10秒
            success: function (data) {
                if (data.success) {
                    layer.msg('注册成功！', {
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function () {
                        //弹窗结束后
                        //跳转登录页面
                        window.location.href = 'index.html';
                    });
                } else {
                    layer.msg('注册失败，邮箱可能已被注册！', {
                        time: 2000
                    });
                }
            },
            error: function (xhr, type, errorThrown) {
                console.log(xhr);
                console.log(type);
                console.log(errorThrown);
            }
        }); //end ajax
    }//end ajax_reg()

    /* 注册 */
    function reg() {
        const EMAIL_DOM = $("input[name='email']");
        const PASSWORD_DOM = $("input[name='password']");
        const VERIFY_CODE_DOM = $("input[name='verifyCode']");

        var email = EMAIL_DOM.val().trim();
        var password = PASSWORD_DOM.val().trim();
        var verifyCode = $.trim(VERIFY_CODE_DOM.val());

        if (isEmpty(email)) {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.msg('电子邮箱不能为空！', {
                    anim: 6, //抖动
                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                });
            });
            EMAIL_DOM.focus();
            return false;
        }

        //电子邮箱数据验证
        if (!isEmail(email)) {
            //电子邮件
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.msg('请填写正确的电子邮箱！', {
                    anim: 6, //抖动
                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                });
            });
            EMAIL_DOM.val("");
            EMAIL_DOM.focus();
            return false;
        }

        if (isEmpty(password)) {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.msg('密码不能为空！', {
                    anim: 6, //抖动
                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                });
            });
            PASSWORD_DOM.focus();
            return false;
        }

        //密码数据验证
        if (!isPassword(password)) {
            //密码
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.msg('密码必须6到12位，且不能出现空格！', {
                    anim: 6, //抖动
                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                });
            });
            PASSWORD_DOM.val("");
            PASSWORD_DOM.focus();
            return false;
        }

        if (isEmpty(verifyCode)) {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.msg('未填验证码！', {
                    anim: 6, //抖动
                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                });
            });
            VERIFY_CODE_DOM.focus();
            return false;
        }

        /* email */
        // 			$.ajax({
        // 				url : "./getVerifyCode?email=" + email,
        // 				type : "get",
        // 				success : function(text) {
        // 					if (text != null && text != "") {

        // 					} else {
        // 						alert("获取失败，请重新获取")
        // 					}
        // 				}
        // 			});
        /* email end */
        ajax_reg(nickname, email, password, type);
    }//reg() end

    //回车触发登录事件login()
    $("input[name='password']")[0].onkeypress = function () {
        if (isPressEnter())
            reg();
    }
    $("input[name='verifyCode']").on("keyup", function () {
        //keypress--按键按下未松
        //keyup--按键松开（按下按键结束）
        const VERIFY_CODE_DOM = $(this);
        const verifyCode = $(this).val();
        let len = verifyCode.length;

        if (len > 6) {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.msg('验证码格式错误！', {
                    anim: 6, //抖动
                    time: 1000 //1秒关闭
                });
            });
            VERIFY_CODE_DOM.val("");
            VERIFY_CODE_DOM.focus();
        }
        if (isPressEnter())
            reg();
    });

</script>

</body>

</html>