<!DOCTYPE HTML>
<html lang="utf-8">
<head>
	<title>Assistant</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content=""/>
	<link rel="stylesheet" href="css/index.css" type="text/css" media="all" />
	<link rel="stylesheet" type="text/css" href="layui/css/layui.css"></head>
<body>
	<div id="bg">
		<canvas></canvas>
		<canvas></canvas>
		<canvas></canvas>
	</div>
	<!-- context -->
	<p>主页</p>
	<input type="text" placeholder="账号">
	<input type="text" placeholder="密码">
	<input type="text" placeholder="昵称">
	<input type="text" placeholder="绑定邮箱">
	<input type="text" placeholder="角色">
	<!--  -->

	<!-- copyright -->
	<div class="footer">
		<p>Copyright &copy; 2019.一切解释权归作者所有.<a target="_blank" href="#">关于作者</a></p>
	</div>
	<!-- //copyright -->

	<script src="js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="layui/layui.all.js"></script>
	<!-- 背景 -->
	<script src="js/canva_moving_effect.js"></script>
</body>

</html>